<aside class="card mb-8">
  <h2 class="heading-2">Education</h2>
  <ul>
    <li>
      <div class="flex">
        <span class="icon icon-college-graduation text-xl pr-3"></span>
        <h3 class="heading-3">Bachelor of Computer Applications</h3>
      </div>
      <div class="pl-8">
        <span class="text-sm">Indira Gandhi National Open University</span>
      </div>
    </li>
  </ul>
</aside>
