<header class="p-10 bg-white">
  <div
    class="flex-col flex-wrap items-center sm:flex sm:flex-row lg:mx-10 -mt-5"
  >
    {
      /* <img
      src="dist/images/RiteshSahu.jpg"
      alt="Ritesh Sahu"
      class="img-me cursor-pointer mx-auto md:mx-0 mt-5"
      style="border: 1px solid #d4d4d4;"
    />  */
    }
    <div class="mx-auto sm:mx-12 my-5 text-center sm:text-left">
      <h1 class="text-4xl font-bold whitespace-no-wrap">Ritesh Sahu</h1>
      <h2 class="text-2xl text-gray-600 mb-3 whitespace-no-wrap">Developer</h2>
      <ul class="flex items-center justify-center sm:justify-start -ml-3">
        <li class="px-3">
          <a
            href="https://github.com/riteshsahu"
            rel="noreferrer"
            target="_blank"
            title="Github account"
          >
            <span class="icon icon-github-logo text-3xl"></span>
          </a>
        </li>

        <li class="px-3">
          <a
            href="https://stackoverflow.com/users/9611553/ritesh-sahu"
            rel="noreferrer"
            target="_blank"
            title="Stackoverflow profile"
          >
            <span class="icon icon-stackoverflow-logo text-3xl">
              <span class="path1"></span>
              <span class="path2"></span>
            </span>
          </a>
        </li>

        <li class="px-3">
          <a
            href="https://www.linkedin.com/in/riteshsahu314/"
            rel="noreferrer"
            target="_blank"
            title="Linkedin profile"
          >
            <span class="icon icon-linkedin-logo text-3xl">
              <span class="path1"></span>
              <span class="path2"></span>
            </span>
          </a>
        </li>
      </ul>
    </div>

    <div class="flex flex-grow justify-center sm:justify-end">
      <a
        href="mailto:riteshsahu314@gmail.com"
        rel="noreferrer"
        title="Send mail to Ritesh Sahu"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded w-full text-center sm:w-auto whitespace-no-wrap inline-block"
      >
        <span class="icon icon-paper-plane">&nbsp;</span>
        <span class="uppercase">mail</span>
      </a>
    </div>
  </div>
</header>
