<aside class="card mb-8">
  <ul>
    <li class="mb-5 flex items-center">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-5 mr-2 text-gray-600"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"></path>
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1 1 15 0Z"
        ></path>
      </svg>

      Indore, Madhya Pradesh, India
    </li>

    <li class="mb-5 whitespace-no-wrap flex items-center">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-5 mr-2 text-gray-600"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75"
        ></path>
      </svg>

      <a
        class="link"
        href="mailto:riteshsahu314@gmail.com"
        title="Send mail to Ritesh Sahu"
      >
        riteshsahu314@gmail.com
      </a>
    </li>

    <li class="flex items-center">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-5 mr-2 text-gray-600"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5M16.5 12 12 16.5m0 0L7.5 12m4.5 4.5V3"
        ></path>
      </svg>

      <a
        class="link"
        href="https://drive.google.com/uc?export=download&id=1jYkmYeQRQzp9cBmj2YEMFIiqxNRJs5pJ"
        title="Download Ritesh Sahu's CV"
      >
        Download CV
      </a>
    </li>

    <!-- <li>
      <span class="icon icon-customer text-xl pr-2 text-indigo-700"></span>
      <a
        class="js--contact-me link"
        data-vbtype="iframe"
        href="https://docs.google.com/forms/d/e/1FAIpQLSci9KzAtAgqV13277F-PhJ4Iak93Y78AZNSyLHoBYD4LZX3Pw/viewform?embedded=true"
        title="Contact Form"
      >
        Contact Me
      </a>
    </li> -->
  </ul>
</aside>
