<aside class="card">
  <h2 class="heading-2">Languages</h2>
  <ul>
    <li class="mb-3">
      <span class="title">English:</span>
      <span class="text-gray-700">Professional</span>
    </li>

    <li>
      <span class="title">Hindi:</span>
      <span class="text-gray-700">Native Speaker</span>
    </li>
  </ul>
</aside>
