---
import { skillsByCategories } from "@/config/skills";
---

<section class="card mb-8">
  <h2 class="heading-2">Skills</h2>
  <div>
    {
      skillsByCategories.map((dt) => (
        <div class="md:flex flex-wrap mb-5">
          <div class="mr-2 flex min-w-[110px]">
            <span class="title">{dt.categoryName}:</span>
          </div>
          <ul class="flex-1 flex flex-wrap">
            {dt.skills.map((skill, idx) => (
              <li class="pr-2">
                <a
                  rel="noreferrer"
                  class="link"
                  target="_blank"
                  href={skill.link}
                  title={skill.title}
                >
                  {skill.name}
                  {idx !== dt.skills.length - 1 ? "," : "."}
                </a>
              </li>
            ))}
          </ul>
        </div>
      ))
    }
  </div>
</section>
